@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<AuthorizeView>
    <Authorized>
        <h3>Hy, @context.User.Identity!.Name, Welcome</h3>
    </Authorized>
    <NotAuthorized>
        <h3>you are not logged In</h3>
    </NotAuthorized>
</AuthorizeView>